/* Machado de Assis. net - 2007 */ 
/* http.machadodeassis.net - 2007 */ 
/* multiplas paginas usam esse estilo */
/* nao modificar sem autorizacao */ 
/* criado em: jul07 - cverdade */ 
/* modificado em: ago 2007 - cverdade */ 
/* cverdade: http://www.dverdade.com.br */
/* historico: ainda sendo defindos */ 

/* Folha de estilo base: estilo_geral.css */

/* INICIO - style sheet */ 

body {
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 80%;
	color: #000000;
	background:#EBEACA;
	margin: 0 0 20px 0;
}



/* GERAL BASICO */

/* definica h */
/*
h1,h2,h3,h4,h5,p { margin: 0; padding: 0; }
*/

h1	{
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 14px;	
	font-style: normal;
	font-weight: bold;
	line-height: 18px;
	color:	#CC6600;
	padding: 0 0 0 18px; 
}


a:link	{
	text-decoration: none;
}


/* form */
input,textarea,select,option { font-family: Verdana, Arial, Helvetica, Sans-serif; }

.hidden { display: none; } /* usado: textos e instrucoes para sofwares leitores */



#headBG	{
	width: 756px;
	height: 131px;
	background-color: #A7AA78;
}

#headFig	{
	width: 110px;
	height: 114px;
	position: absolute;
	left: 0;
	top: 17px;
	background-image: url(../figs/head_dtb_ftOUT.gif);
}


#headFigON	{
	width: 110px;
	height: 114px;
	position: absolute;
	left: 0;
	top: 17px;
	background-image: url(../figs/head_dtb_ftON.gif);
}


#menu	{
	width: 199px;
	height: 43px;
	position: absolute;
	left: 102px;
	top: 88px;
}



/* Menu tx: "inicio", "equipe", "contato"  */
div.memu2 {
	width: 455px;
	height: 18px;
	position: absolute;
	left: 301px;
	top: 114px;
	text-align: right;
	background-color: #FFFFFF;
/*	text-align: right; */
/*	padding-right: 18px; */ 
}



/*  */
/* Menu tx: "inicio", "equipe", "contato"  */
div.memu2  table td.menuTop {
	/* width: 437px; /* 455-18=437 */
	width: 300px; /* 455-18=437 */
	font-size: 10px;
	letter-spacing: 0.1em;  /* usado tx menus  */
	height: 17px;
	text-align: right;
	vertical-align: middle;
	padding-right: 18px;
}

.menuTop a:link,a:visited {
	text-decoration: none;
	color: #737B5D;
}

.menuTop a:hover	{
	text-decoration: underline;
	color: #CC6600;
}


.menuTop a:active	{
	text-decoration: none;
	font-weight: bold;
	color: #CC6600;
}



#headTitu	{
	width: 418px;
	height: 38px;
	position: absolute;
	left: 154px;
	top: 27px;
}


/* PESQUISA */
/* PESQUISA: posicao area do form  */
#areaPesquisa	{
	width: 756px;
	position: absolute;
	background-color:: #FFFFFF;
	top: 130px;
}


#pesquisaForm1	{
	width: 740px;
	margin-left: 5px;
/*	left: 18px; */
/*	padding-left: 18px;  */

}


#pesquisaForm1	td.formTitu1L {
	font-size: 11px;
	/* font-size: 13px; modificado por edu 31-12-07*/
	/* width: 122px;  modificado por edu 31-12-07*/
	width: 100px;
	height: 23px;
	color: #616948;
	padding-left: 3px;
}


#pesquisaForm1	td.formTitu2L {
	font-size: 11px;
	/* font-size: 13px; modificado por edu 31-12-07*/
	/* width: 200px;  modificado por edu 31-12-07*/
	width: 250px;
	height: 23px;
	color: #616948;
	padding-left: 3px;
}


#pesquisaForm1 td.formTxL	{
	font-size: 10px;
	height: 23px;
	color: #000000;
	padding-left: 3px;
}


/* Form: Pesquisa => define With SELECT  */
div.pesquisa1 select { 
	/* font-size: 100%; modificado edu 31-12-07*/
	font-size: 80%;
	/* width: 200px; modificado edu 31-12-07*/
	width: 250px;  /* 200px  */
}


/*
#pesquisaForm1	td.pesqInput {
	/*width: 70px; */
	/*height: 23px; */
	width: 70px;
	height: 23px;}

*/

#pesquisaForm1	td.vazio {
	/*width: 18px; */
	/* height: 23px;  */
	width: 18px;
	height: 23px;}


/* PESQUISA: area HIDE, confirma=> SHOW */
#pesquisaForm2	{
	width: 306px;
	margin-left: 429px;

/*	left: 432px;	*/
}


#pesquisaForm2	td.formTitu2L {
	font-size: 10px;
	width: 200px;
	height: 23px;
	/* font-size: 13px;
	width: 288px;
	height: 23px; */
	color: #616948;
	padding-left: 3px;
}

/* Form: Pesquisa => define With SELECT  */
div.pesquisa2 select { 
	font-size: 80%;
	width: 288px;
/*	font-size: 100%;
	width: 288px; */
}

div.pesquisa2 input { 
	font-size: 80%;
	width: 288px;
  /* font-size: 100%;
	width: 288px;  */
}

#pesquisaForm1 td.pesqInput {
	height: 33px;
	text-align: right;
	vertical-align: bottom;
}


td.dots	{
	width: 18px;
	height: 23px;
}


/* --- */
/*  Frame CABECALHO */
/* CONTEUDO: frame CABECALHO => RESULTADOS de PESQUISA  */
#conteudoResultados	{
	width: 756px;
	position: absolute;
/*	background-color:: #990000;	*/
/*	top: 334px; */
	top: 180px; /* OLD=134px  */
/*	padding-left: 18px;	*/	
}

/* RESULTADOS: frame CABECALHO  */
table.resultadoCabecalho {
	width: 756px;
	vertical-align: top;
	background-color: #FFFFFF;
/*	border-bottom: 20px solid #EBEACA;	*/	 
}

/* RESULTADOS: frame CABECALHO  */
table.resultadoCabecalho td.resultadoDTB {
	border-top: 1px dashed #666666;
	border-bottom: 9px solid #737A57;
/*	vertical-align: top; */
/*	padding-right: 18px;   */
	padding-left: 18px;
	padding-right: 18px;
/*	padding-bottom: 20px;  */
	padding-bottom: 3px; 
}



/* SECOES */
/* TITULOS: Ajuda,  */
#tituSecao	{
	font-size: 16px;
	width: 738px;  /* 756-18=738  */
	position: absolute;
	color: #4B4841;
	background-color:: #FFFFFF;
	/* top: 158px; modificado edu 31-12-07 */
	top: 130px;
	padding-left: 18px;
}


/* GERAL  */
/* Textos, Titulos, SubTitus, Separdores */
.tituBKtx	{
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}

/* Titulo DTB index  */
.tituLanjtx	{
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #cc4900;
}

.tx	{
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	color: #333333;
}

.txBig	{
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 22px;
	color: #333333;
}

.txVerde	{
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	color: #616948;
}

.txVerdeBold{
	font-style: normal;
	font-weight: bold;
	color: #616948;
}

.txVerdeSmall	{
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	color: #616948;
}

/* Resultado de Pesquisa: Cabecalho  */
.txLarnjSmall	{
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	color: #cc4900;
}

td.dotsSepara	{
	border-top: 1px dashed #000000;
}

td.rodapeSepara	{
	text-align: center;
	background: #EBEACA url(../figs/fioRodape.gif) no-repeat top center;
}




/*   */
/* CONTEUDO Pesquisa */
#conteudo	{
	width: 756px;
	position: absolute;
	background-color:: #FFFFFF;
	/* top: 274px; modificado por edu 31-12-07 */
	top: 310px;

}


/* CONTEUDO tx */
#conteudoTx	{
	width: 756px;
	position: absolute;
	background-color:: #FFFFFF;
	top: 188px;
}




table.conteudoGeral {
	width: 756px;
	vertical-align: top;
	background-color: #FFFFFF;
	border-bottom: 20px solid #EBEACA;
}

/* DTB: Faq  */
/* MNET: area top pontilhado  */
table.conteudoGeral td.geralDotTop {
	border-top: 1px dashed #666666;
	vertical-align: top;
	padding-top: 10px;
}


/* HOME: DTB  */
table.conteudoGeral td.homeDTB {
	border-top: 9px solid #737A57;
	vertical-align: top;
	background: #FFFFFF url(../figs/dtb_home_ilustra.gif) no-repeat top left;
}

/* HOME: DTB  */
table.conteudoGeral td.resultadoDTB {
	border-top: 9px solid #737A57;
	vertical-align: top;
	padding-left: 18px;
}

/*
.tituBKtx	{
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}
*/

/* dtb_index: Titulo */
td.homeDTB p.tituBKtx	{
	font-size: 15px;
	padding-top: 20px;
 	padding-left: 210px;
}

/* dtb_index: Titulo */
td.homeDTB p.tituLanjtx	{
	font-size: 15px;
	padding-top: 20px;
	padding-bottom: 10px;
 	padding-left: 210px;
}

/* PAG RESULTADO: Titulo  */
table.conteudoGeral td.resultadoDTB p.tituBKtx	{
	font-size: 15px;
	padding-top: 10px;
}

/*
.txBig	{
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 22px;
	color: #333333;
}
*/

/* dtb_index: tx apresentacao  */
td.homeDTB p.txBig	{
	font-size: 13px;
	color: #000000;
 	padding-left: 210px;
	padding-right: 37px;
	color: #333333;
}

/* dtb_index: Frase  */
td.homeDTB p.dtbHomeFrase	{
	text-align:right;
	padding-top: 15px;
	padding-right: 35px;
}


/* dtb_index: Assina: Marta */
td.homeDTB p.txVerde	{
	font-style: italic;
	font-weight: normal;
	text-align:right;
	line-height: 20px;
	color: #616948;
	padding-top: 5px;
	padding-right: 37px;
	padding-bottom: 25px;
}

/* dtb_index: Assina: Borges */
td.homeDTB p.txVerdeSmall	{
	font-size: 11px;
	font-style: italic;
	font-weight: normal;
	text-align:right;
	line-height: 20px;
	color: #616948;
	padding-right: 37px;
	padding-bottom: 20px;
}

/*  RESULTADO PESQUISA - CABECALHO: "voce pesquisou..." */
table.resultadoCabecalho td.resultadoDTB p.txVerdeSmall	{
	font-size: 9px;
	color: #616948;
	line-height: 10px;
	padding-right: 15px;
/*	font-size: 11px;
	color: #616948;
	line-height: 15px;
	padding-right: 18px; */
}

/* 
td.vazio {
	width: 18px;
	height: 23px;
}
*/

/* PAG RESULTADO: livro, conto */
table.resultado	td.vazio {
	width: 18px;
	vertical-align: top;
}

table.resultado	td.colLeft {
	width: 432px;
	vertical-align: top;
}


table.colLeftResultado td.bgVerde  {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #4A4643;
	vertical-align: middle;
	background-color: #D0D488;
	padding-top: 2px;
	padding-right: 4px;
	padding-botton: 2px;
	padding-left: 10px;
	border-bottom: 2px solid #FFFFFF;
}


table.colLeftResultado td.bgVerde .tx	{
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	padding-left: 4px;
	padding-right: 4px;
}


table.colLeftResultado td.bgWLinhaV  {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #4A4643;
	vertical-align: middle;
	padding-top: 2px;
	padding-right: 4px;
	padding-botton: 2px;
	padding-left: 10px;
	border-bottom: 2px solid #D0D488;
}


table.colLeftResultado td.bgWLinhaV .tx	{
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	padding-left: 4px;
	padding-right: 4px;
}

table.colLeftResultado td.bgW  {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #4A4643;
	vertical-align: middle;
	padding-right: 10px;
	padding-botton: 4px;
}


div.trechoTX textarea { 
	font-size: 12px;
	line-height: 16x; 
	width: 424px;
	vertical-align: top;
}



table.resultado	td.colRight {
	width: 270px;
	vertical-align: top;
}







/* RODAPE  */
/* RODAPE: menu texto */
table.conteudoGeral td.rodapeSepara p.txVerdeSmall 	{
	letter-spacing: 0.1em;  /* usado tx menus  */
	color: #616948;
	padding-bottom: 5px;
}

table.conteudoGeral td.rodapeSepara p.txVerdeSmall a {
	letter-spacing: 0.1em;  /* usado tx menus  */
	color: #616948;
}

table.conteudoGeral td.rodapeSepara p.txVerdeSmall a:hover {
	text-decoration: underline;
	color: #CC6600;
}

/* RODAPE: cr»ditos */
table.conteudoGeral td.rodapeSepara p.txVerde 	{
	font-size: 10px;
	color: #616948;
	padding-bottom: 20px;
}




/* Textos estaticos  */

/* DTB: AJUDA  */
td.geralDotTop p.txBKtab0	{
	font-size: 13px;
	line-height: 20px;	
	padding-left: 18px;
	padding-right: 180px;
}


/* DTB: AJUDA  */
td.geralDotTop p.txBKtab0	strong{
	color: #cc4900;
}


td.geralDotTop a	{
	text-decoration: underline;
	color: #CC6600;
}

td.geralDotTop a:hover	{
	color: #7A7E6D;
}



.dotListTitu	{
	margin-left: 0px;
}


ul.dotList {
 	font-size: 13px;
	line-height: 20px;	
	margin: 0 180px 10 0px !important;
}

ul.dotList li {
	padding-bottom: 10px;
	margin-left: 18px;
	padding-right: 180px;
}



/*DTB: Ajuda SubTitus  */
p.txBKtab0 .ocreCreditos	{
	font-size: 13px;
	font-style: normal;
	font-weight: Bold;
	color: #cc4900;

}

ul li strong{
	color: #7A7E3D;
}




/*DTB: Figura   */

#figIndex {
	position:absolute;
	width:200px;
	height:280px;
	z-index:1;
	left: 7px;
	top: 337px;
	background: #FFFFFF url(../figs/fig_dtb_index_v02.gif) no-repeat top left;	
}

#fig {
	position:absolute;
	width:200px;
	height:280px;
	z-index:1;
	left: 7px;
	top: 337px;
	background: #FFFFFF url(../figs/dtb_fig01.gif) no-repeat top left;
}



/* FIM - style sheet */
